@font-face {
  font-family: "fnt0_41609";
  src: url("/data/fonts/fnt0.woff");
}
@font-face {
  font-family: "fnt1_41609";
  src: url("/data/fonts/fnt1.woff");
}
@font-face {
  font-family: "fnt2_41609";
  src: url("/data/fonts/fnt2.woff");
}
@font-face {
  font-family: "fnt3_41609";
  src: url("/data/fonts/fnt3.woff");
}
@font-face {
  font-family: "fnt4_41609";
  src: url("/data/fonts/fnt4.woff");
}
@font-face {
  font-family: "qPFn";
  src: url("/data/fonts/fnt1.woff");
}
@font-face {
  font-family: "qPFnb";
  src: url("/data/fonts/fnt3.woff");
}
