button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bolder;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 80ms ease-in;
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}
section#login .input-error button,
section#register .input-error button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
    padding: 3px;
    text-transform: uppercase;
    transition: all 80ms ease-in;
}